@font-face {
  font-family: "jedi";
  src: url(../font/Starjedi.ttf);
}

html {
  --lightness: 50%;
  --blade-hue: 120;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #222;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: 100px 50px 1fr;
      grid-template-rows: 100px 50px 1fr;
  min-height: 100vh;
  place-items: center;
  font-family: jedi;
  font-size: 1.5rem;
}

[name="color"] {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  margin: 0.5em;
}

label:not(.hilt) {
  color: #fff;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.lightsaber {
  grid-column: 1 / -1;
  position: relative;
  margin-top: 30vh;
}

#on-off {
  position: absolute;
  width: 0;
  height: 0;
}

.hilt {
  display: block;
  width: .75rem;
  height: 7rem;
  background-color: red;
  border-radius: 0 0 4px 4px;
  background-image: linear-gradient(silver 0 10px, #df9c20 0 14px, silver 0 15px, black 0 20px, silver 0 22px, black 0 25px, silver 0 27px, black 0 30px, silver 0 32px, black 0 35px, silver 0 37px, black 0 40px, silver 0 42px, black 0 45px, silver 0 47px, black 0 50px, silver 0 60px, #df9c20 60px 80px, silver 0 100%);
}

.blade {
  position: absolute;
  background: white;
  height: 350%;
  width: 100%;
  bottom: 100%;
  border-radius: 100vw 100vw 0 0;
  -webkit-box-shadow: inset 0 0 4px hsl(var(--blade-hue), 100%, 50%), 0 0 1em hsl(var(--blade-hue), 100%, 62.5%), 0 0 1.5em hsl(var(--blade-hue), 100%, 66.66667%), 0 0 2em hsl(var(--blade-hue), 100%, 100%), 0 0 3em hsl(var(--blade-hue), 100%, 166.66667%), 0 0 5em hsl(var(--blade-hue), 100%, 250%);
          box-shadow: inset 0 0 4px hsl(var(--blade-hue), 100%, 50%), 0 0 1em hsl(var(--blade-hue), 100%, 62.5%), 0 0 1.5em hsl(var(--blade-hue), 100%, 66.66667%), 0 0 2em hsl(var(--blade-hue), 100%, 100%), 0 0 3em hsl(var(--blade-hue), 100%, 166.66667%), 0 0 5em hsl(var(--blade-hue), 100%, 250%);
  -webkit-transition: -webkit-transform 50ms ease-out;
  transition: -webkit-transform 50ms ease-out;
  transition: transform 50ms ease-out;
  transition: transform 50ms ease-out, -webkit-transform 50ms ease-out;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.blade::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: hsl(var(--blade-hue), 100%, 50%);
  border-radius: inherit;
  -webkit-filter: blur(0.25em);
          filter: blur(0.25em);
  opacity: 1;
  -webkit-animation: pulse linear .1s infinite;
          animation: pulse linear .1s infinite;
}

.blade::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  border-radius: inherit;
  z-index: 10;
}

@-webkit-keyframes pulse {
  50% {
    opacity: .1;
  }
}

@keyframes pulse {
  50% {
    opacity: .1;
  }
}

#on-off:not(:checked) + .blade {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

#on-off:checked + .blade {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

#green:checked ~ .lightsaber {
  --blade-hue: 120;
}

#blue:checked ~ .lightsaber {
  --blade-hue: 195;
}

#yellow:checked ~ .lightsaber {
  --blade-hue: 60;
}

#purple:checked ~ .lightsaber {
  --blade-hue: 290;
}

#red:checked ~ .lightsaber {
  --blade-hue: 360;
}

#darksaber:checked ~ .lightsaber .blade {
  border-radius: 100% / 500px 10px 0 0;
  -webkit-box-shadow: inset 0 0 4px hsl(var(--blade-hue), 100%, 100%), 0 0 1em hsl(var(--blade-hue), 100%, 125%), 0 0 1.5em hsl(var(--blade-hue), 100%, 133.33333%), 0 0 2em hsl(var(--blade-hue), 100%, 200%), 0 0 3em hsl(var(--blade-hue), 100%, 333.33333%), 0 0 5em hsl(var(--blade-hue), 100%, 500%);
          box-shadow: inset 0 0 4px hsl(var(--blade-hue), 100%, 100%), 0 0 1em hsl(var(--blade-hue), 100%, 125%), 0 0 1.5em hsl(var(--blade-hue), 100%, 133.33333%), 0 0 2em hsl(var(--blade-hue), 100%, 200%), 0 0 3em hsl(var(--blade-hue), 100%, 333.33333%), 0 0 5em hsl(var(--blade-hue), 100%, 500%);
}

#darksaber:checked ~ .lightsaber .blade::after {
  background: hsl(var(--blade-hue), 100%, 100%);
}

#darksaber:checked ~ .lightsaber .blade::before {
  background: #000;
}
/*# sourceMappingURL=style.css.map */